.content {
    margin: 0 auto;
    min-width: 820px;
    max-width: 1200px;
}

.app {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 20px;
  font: 18px sans-serif;
  min-height: 850px;
}
