.barchart-block {
  width: 100%;
  height: 200px;
  background-color: #f7f7f7;
  padding: 5% 0;
}

.barchart {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

.axis path {
  fill: none;
  stroke: black;
}

.bar {
  fill: steelblue;
  width: 5%;
  transform: translate(11%, 7%);
}
