.BarChartArea {
  grid-area: 2/1/3/2;
  text-align: center;
}

.chart_header {
  background-color: #cee7fb;
  padding: 5% 0;
}

.dropdown {
  width: 80%;
  margin: 5% auto;
  background-color: #f7f7f7;
}

.dropdown_menu {
  background-color: #cee7fb;

}

.dropdown_arrow::after {
  content: '\25BC';
  color: #cee7fb;
}

.dropdown_placeholder{
  display: inline-block;
  margin: 5% 20% 5% 5%;
}
