.daily_info {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-gap: 5px;
}

.tool_bar {
  display: grid;
  grid-template-columns: 30% 30% 40%;
}

.tool_bar button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_circle {
  height: 30px;
  width: 30px;
}

.button_circle.green {
  grid-area: 1/1/2/2;
  background: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTIwIDEyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxjaXJjbGUgY3g9IjYwIiBjeT0iNjAiIHI9IjUwIiBmaWxsPSIjNzVkNzZiIj48L2NpcmNsZT4KPC9zdmc+");
  background-repeat: no-repeat;
}

.button_circle.red {
  grid-area: 1/2/2/3;
  background: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTIwIDEyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxjaXJjbGUgY3g9IjYwIiBjeT0iNjAiIHI9IjUwIiBmaWxsPSIjYTYxODZiIj48L2NpcmNsZT4KPC9zdmc+");
  background-repeat: no-repeat;
}

.button_circle.blue {
  grid-area: 1/3/2/4;
  background: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTIwIDEyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxjaXJjbGUgY3g9IjYwIiBjeT0iNjAiIHI9IjUwIiBmaWxsPSIjM2M1NWMxIj48L2NpcmNsZT4KPC9zdmc+");
  background-repeat: no-repeat;
}

.button_text {
  display: inline-block;
}

.current_day_note {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.note_part {
  display: inline-block;
  margin: 5px;
}

.category_img {
  width: 3em;
  height: 3em;
  background: black;
}

.note_amount {
  text-align: right;
}

.note_description {
  text-align: left;
}

.table_header {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  margin-bottom: 5px;
}
