.side_block {
  grid-column: 1;
  display: grid;
  grid-template-rows: auto auto 60% ;
  grid-gap: 10px;
}

.nav_button {
  grid-row: 1;
}

.calendar_area {
  grid-row: 2;
}

.barchart_area {
  grid-row: 3;
  text-align: center;
}

.nav_button{
  font-size: 1.5em;
}

.calendar {
  width: auto !important;
}

.chart_header {
  background-color: #cee7fb;
  padding: 5% 0;
}

.dropdown {
  width: 80%;
  margin: 5% auto;
  background-color: #f7f7f7;
  font-size: 0.7em;
}

.dropdown_menu {
  background-color: #cee7fb;
}

.dropdown_arrow::after {
  content: '\25BC';
  color: #cee7fb;
}

.dropdown_placeholder {
  display: inline-block;
  margin: 5% 20% 5% 5%;
}
